@media (max-width: 960px) {
    .nav-container {
        height: 100%;
        width: 100%;
        opacity: 0;
        display: none;
        transition: all 0.2s ease;
    }

    .nav-container-ul {
        flex-direction: column;
    }

    .nav-container ul li a {
        padding: 10px 25px;
        opacity: 0;
        color: var(--blueLight);
        font-size: 24px;
        font-weight: 600;
        transform: translateY(-20px);
        transition: all 0.2s ease;
    }

    .nav-open {
        position: fixed;
        right: 3%;
        top: 16px;
        display: block;
        height: 47px;
        cursor: pointer;
        z-index: 2;
        border-radius: 50%;
    }

    .nav-open i {
        display: block;
        width: 30px;
        height: 4px;
        background: var(--blueLight);
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-open i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-open i:nth-child(3) {
        margin-top: 4px;
    }

    .logo-mobile {
        position: inherit;
        text-indent: inherit;
        color: inherit;
        z-index: 1;
    }

    .container-list-menu a {
        opacity: .6
    }

    .logo {
        display: none
    }

    .container-list-menu li {
        margin: 10px 0;
    }

    .container-list-menu {
        display: flex;
        flex-direction: column;
    }

    .nav-container-ul {
        align-items: center;
        transform: translateY(10%);
    }

    .current_page_item {
        padding-bottom: 0;
        opacity: 1;
    }

    .container-list-menu .last-menu-item {
        margin-top: 10px;
    }

    li ul .last-menu-item a {
        background: var(--blueLight);
        color: white;
        border-radius: 20px;
        padding: 11px 16px;
        margin-bottom: 8px;
        border: 1px solid var(--blueLight);
        transition: .2s;
    }

    .container-list-menu a:hover {
        padding: 10px 25px;
    }

    body .nav:checked ~ .nav-container {
        overflow-y: hidden
    }

    .nav:checked ~ .nav-container {
        position: absolute;
        left: 0;
        background: white;
        width: 100%;
        top: 0;
        z-index: -1;
        padding-top: 15vh;
        padding-bottom: 100vh;
    }

    main .container-categories-home {
        margin-top: 10px;
    }

    div .container-home_image {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .container-home_image div:nth-child(2) {
        align-self: center
    }


    .form-login .email-label {
        width: 100%
    }

    .container-form-email {
        padding-right: 16px
    }

    .password {
        min-width: 100%;
    }

    section .container-why div {
        width: 100%
    }

    div .selectdiv {
        padding: 0
    }

    .container-home .container-home_image .container-connexion {
        max-width: 100%;
    }

    section .container-home-page {
        display: flex;
        margin-bottom: 70px;
        flex-direction: column-reverse;
    }

    main section .container-home-page {
        margin-bottom: 30px;
    }

    section .container-home_image div:first-child {
        align-self: flex-start
    }

    div .container-svg {
        justify-content: center;
    }

    main .container-announcements {
        flex-direction: column-reverse;
    }

    section .container-filters {
        width: 100%;
        border: none;
        padding-left: 0;
    }


    li .cbx span:last-child {
        margin-left: 0;
    }

    .list-categories li {
        margin-right: 30px;
    }

    section .container-filter-categories::-webkit-scrollbar {
        width: 13px;
    }

    .container-filter-categories::-webkit-scrollbar {
        width: 10px
    }

    section .container-filter-categories {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .cbx {
        min-width: 200px;
    }

    .container-filter-categories::-webkit-scrollbar-track {
        margin: 40px 5px 20px 0
    }

    section .list-categories li {
        margin-left: 10px;
    }

    section .list-categories li label span:nth-child(2) {
        margin-left: 7px;
    }

    .container-filters button {
        margin-bottom: 90px;
    }

    section .container-all-announcement {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    div .horary-cost {
        top: inherit;
        bottom: 45px;
    }

    body main .container-create-ads {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .container-plans {
        flex-direction: column;
    }

    section .container-plans section:nth-child(2) {
        position: relative;
        margin: 60px 0 0;
    }

    div .container-plan {
        width: auto;
    }

    section .container-create-ads-infos {
        margin-right: 0;
    }

    section .container-plans section:nth-child(2):after {
        right: 50%;
        margin-right: -60px;
    }

    section .container-plans section:nth-child(2) h3 {
        padding-top: 45px;
    }

    main .container-announcements {
        margin-top: 30px;
    }

    .container-all-announcement nav {
        grid-column: 2/ 3;
    }
}

@media (max-width: 730px) {

    main .container-categories-home {
        margin-top: 50px;
    }

    .container-why-text-first {
        margin: -20px 0 70px;
    }

    .container-why {
        flex-direction: column;
    }

    .container-home-why .container-why:last-child {
        flex-direction: column-reverse;
    }

    .container-why-text-second {
        margin: -20px 0 0;
    }

    .container-six-category-home {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .container-register-form {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }

    .container-six-category-home section {
        min-height: 200px;
    }

    .last-box-category section {
        align-items: center;
        display: flex;
    }

    .img-cover {
        width: 150%;
    }

    form .container-register-form {
        grid-template-columns: repeat(1, minmax(270px, 1fr));
    }

    section .link-back {
        position: inherit;
    }

    div .form-register {
        margin-top: 30px;
    }

    main .container-form-register {
        margin-top: 80px;
    }

    section .container-all-announcement {
        flex-direction: column;
        display: flex;
    }

    .container-pagination {
        display: flex;
        justify-content: flex-end;
    }

    form .container-register-form {
        margin-bottom: 0;
        grid-gap: 0;
    }

    div .form-choice {
        grid-template-columns: repeat(1, minmax(270px, 1fr));
    }

    .password--input {
        z-index: 10
    }

    div .password .password--visibleToggle-eye {
        z-index: 20;
    }

    .password .password--visibleToggle {
        z-index: 21;
    }

    div .select-register {
        height: 100%;
    }

    .container-svg img {
        width: 100%;
        max-height: 400px;
    }

    section .container-home_image div:first-child {
        max-width: 100%;
    }

    section .form-choice {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    .radioButtons {
        margin-bottom: 30px;
    }

    div .help {
        margin-top: -30px;
        margin-bottom: 30px;
    }

    div .select-register {
        margin: 10px 0 30px;
    }

    div .form-login .email-label {
        margin-bottom: 30px;
    }

    .container-home-create {
        margin-bottom: 0;
    }

    div div .horary-cost {
        top: inherit;
        bottom: 64px;
    }
}

@media (max-width: 450px) {
    section .container-home_image div:first-child {
        max-width: inherit;
    }

    .container-role h3 {
        text-align: center;
    }

    .search-home {
        min-width: 100%;
    }

    a .box-category {
        min-width: inherit;
        width: inherit;
    }

    main .container-home_image div:first-child {
        max-width: 100%;
    }

    form .submit-category-home {
        position: absolute;
        right: 0;
        transform: translateX(-25px) translateY(9px);
    }

    form .container-inscriptin-logins:before {
        margin-left: -24%;
        width: 50%;
    }

    main .container-home, main .container-categories-home, main .container-home-why {
        padding: 0 3%
    }

    .svg-icon {
        width: 100%
    }

    .img-cover {
        width: 200%;
    }

    .container-register-form {
        grid-template-columns: repeat(1, minmax(270px, 1fr));
    }

    .container-svg img {
        max-width: 300px;
    }
}

@media (min-width: 1300px) {
    main .container-home, main .container-categories-home, main .container-home-why {
        padding: 0 12%;
    }

    main .container-home, main .container-home-why {
        padding: 0 15%;
    }

    footer .container-footer {
        margin: 4% 12%;
    }

    .container-menu {
        margin: 20px 12% 10px;
    }

    section .container-six-category-home {
        display: grid;
        grid-template-columns: repeat(3, minmax(270px, 1fr));
    }

    div.container-home_image div:first-child {
        max-width: 95%;
    }
}

