@import "reset.css";
@import "font.css";
@import "global.css";
@import "responsive.css";

div small {
    color: #57565F;
}

.nav-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2%;
    box-shadow: var(--shadow);
}

.navbar {
    z-index: 1;
}

.container-list-menu-principal li, .container-picto-dashboard {
    position: relative;
}

.container-picto-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 120px);
}

.container-picto-dashboard .button-dashboard-notifications {
    display: flex;
    justify-content: center;
}

.container-list-menu-principal li a {
    text-indent: -9999px;
}

.container-dashboard h2:before, .container-dashboard-notif h3:before {
    content: "";
}

.iconeDashboard, .container-dashboard h2:before, .container-dashboard-notif h3:before, .container-dashboard-messenger h3:before, .container-dashboard-ads h3:before {
    background-image: url("../svg/business-report.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 45px;
    height: 45px;
}

.container-menu-pincipal li:nth-child(2) a, .container-dashboard-notif h3:before {
    background-image: url("../svg/notif.svg");
    background-size: 74%;
}

.container-menu-pincipal li:nth-child(3) a, .container-dashboard-messenger h3:before {
    background-image: url("../svg/messenger.svg");
    background-size: 79%;
}

.container-menu-pincipal li:nth-child(4) a, .container-dashboard-ads h3:before {
    background-image: url("../svg/ad.svg");
    background-size: 93%;
}

.container-menu-pincipal li:nth-child(5) a {
    background-image: url("../svg/user.svg");
    background-size: 74%;
}

.container-list-menu ul:nth-child(2) li a {
    background-image: url("../svg/sign-out.svg");
    background-size: 74%;
}

.container-menu-pincipal {
    margin-top: 10px;
}

.container-nav-principal {
    box-shadow: var(--shadow);
    display: inline-block;
    padding: 0 7px;
}

.container-list-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main nav, main nav .container-nav-principal, .full-height {
    height: 100%;
    z-index: 1;
}

.copyright {
    background: white;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 78px;
    font-size: .8em;
}

.container-menu-pincipal li {
    margin: 7px 5px;
}

.container-dashboard h2, .container-dashboard-notif h3 {
    display: flex;
    grid-gap: 10px;
    padding: 20px 2%;
    background: var(--blueClair);
    align-items: center;
}

.container-dashboard-notif h3 {
    background: inherit;
    padding: 20px 0 0;
}

.container-all-dashboard {
    display: flex;
    height: 100%;
}

.container-dashboard {
    width: 100%;
}

.button-cta {
    padding: 10px 15px;
    background: var(--gradientLightBlue);
    border: 0;
    border-radius: 15px;
    color: white;
    margin-top: 15px;
    font-size: 1em;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

.button-cta:after {
    content: "";
    background-position: center;
    background-image: url(../svg/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    right: -20px;
    top: 9px;
    transition: 0.5s;
}

.button-cta:hover {
    padding: 10px 30px 10px 15px;
}

.button-cta:hover:after {
    opacity: 1;
    right: 5px;
    top: 9px;
}

.container-sections-dashboard {
    padding: 0 2%;
    height: calc(100% - 85px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-gap: 30px;
}

.container-sections-dashboard section:nth-child(2):before {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    content: "";
    background: var(--blue);
    left: -15px;
}

.container-sections-dashboard section:nth-child(2):after {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    content: "";
    background: var(--blue);
    right: -15px;
}

.messages-container {
    margin-top: 30px;
}

.container-picto-dashboard .container-messages {
    margin-top: -15px;
}

.dateAds {
    font-size: .9em;
}

.container-dashboard-notif {
    position: relative;
}

.container-menu-pincipal li a {
    opacity: 1;
}

.menuDashboard {
    display: none;
}

li .container-menu-pincipal a:hover:before {
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    background: var(--blueLight);
    left: -14px;
    display: block;
}

.current_page_item_dashboard {
    position: relative;
}

.current_page_item_dashboard:before {
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    background: var(--blueLight);
    left: -14px;
    display: block;
}

.successMsg img {
    margin-right: 10px;
}

.successMsg p {
    margin-right: 20px;
    margin-bottom: 0;
}

.crossHide {
    color: red;
    top: 10px;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.successMsg {
    position: fixed;
    font-family: roboto, sans-serif;
    bottom: 20px;
    display: flex;
    align-items: center;
    right: 6.8%;
    margin-left: 7%;
    max-width: 300px;
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    z-index: 5;
    background: white;
}

.deconnexionButtonDashboard {
    text-indent: -9999px;
    border: 0;
    background: no-repeat center/100% url(../svg/sign-out.svg);
}

.container-logout-dash {
    display: none;
}

.container-list-menu-principal li form .deconnexionButtonDashboard {
    background-size: 76%;
    padding: 0;
}
