@import "header.css";
@import "responsive.css";

.container-home_image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 150px 0 3% 0;
    grid-gap: 50px;
}

.img-cover {
    position: absolute;
    z-index: -1;
    top: 0;
    max-width: 1100px;
    right: 0;
}

.submit-category-home {
    text-indent: -9999px;
    background-image: url("../svg/search.svg");
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--orange);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border: 1px solid var(--orange);
    transform: translateX(-50px) translateY(9px);
    cursor: pointer;
    transition: .3s;
    box-shadow: var(--shadow);
    font-size: 1em;
}

.container-home_image form {
    display: flex
}

.search-home {
    padding: 20px 55px 20px 15px;
    box-shadow: var(--shadow);
    border: 1px solid #F0F1F0;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    max-width: 500px;
}

.container-home_image div:nth-child(2) {
    justify-self: flex-end;
}

.container-home_image div:first-child {
    max-width: 70%;
    min-width: 55%;
    width: 100%;
    justify-self: flex-start;
    align-self: center;
}

.container-home-text p {
    margin: 10px 0 20px;
}

.container-categories-home {
    margin: 0 auto
}

.container-categories-text-home {
    max-width: 374px;
    margin: auto;
    text-align: center;
}

.container-six-category-home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 30px
}

.container-register-form, .form-choice {
    display: grid;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    grid-gap: 30px;
    margin-bottom: 15px;
}
.containerJobAds{
    display: flex;flex-direction: column;
}
.categoryJob{
    font-size: .9em;
}
.box-category {
    position: relative;
    transition: .3s;
    box-shadow: var(--shadow);
    padding: 40px 10px 10px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
    min-width: 250px;
    width: 95%;
    min-height: 230px;
    overflow: hidden;
}

.box-category:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    top: 0px;
    background: var(--blueLight);
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.box-category:hover:after,
.box-category:focus:after,
.box-category:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.box-category img {
    align-self: center;
    margin-bottom: 30px;
    max-width: 120px;
}

.text-categories-home {
    margin: 10px 0 20px;
}

.last-box-category {
    background: var(--gradientLightBlue);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
}

.container-categories-text-home h2 {
    margin-top: 50px;
}

.last-box-category h3 {
    color: white;
    text-align: center;
    font-size: 1.8em
}

.last-box-category:hover {
    transform: scale(1)
}

.container-title-why {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 20px
}

.horary-cost {
    position: absolute;
    right: 15px;
    top: 40px;
}

.container-why {
    grid-gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-cta, .button-cta button {
    padding: 10px 15px;
    background: var(--gradientLightBlue);
    border: 0;
    border-radius: 15px;
    color: white;
    margin-top: 15px;
    font-size: 1em;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

.text-why {
    margin: 10px 0 5px;
}

.container-home, .container-categories-home, .container-home-why {
    padding: 0 7%;
}

.container-title-why h2 {
    margin-bottom: 10px
}

button:after {
    content: "";
    background-position: center;
    background-image: url(../svg/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    right: -20px;
    top: 12px;
    transition: 0.5s;
}

button:hover {
    padding: 10px 30px 10px 15px;
}

button:hover:after {
    opacity: 1;
    right: 5px;
    top: 12px;
}

.container-home-why {
    margin-bottom: 50px;
}

.submit-category-home:hover {
    transform: scale(1.05) translateX(-50px) translateY(9px);
    top: 2px;
}

.container-home-why .container-why:last-child {
    margin-top: 30px;
}

.container-why img {
    max-width: 100%;
}


div .form-login {
    display: block
}

.form-login .email-label {
    padding: 11px 10px 11px 5px;
    min-width: 200px;
    font-size: 1em;
    border: 1px solid #69696969;
    border-radius: 4px;
    margin: 10px 0 20px;
}

.container-connexion p {
    margin: 10px 0 40px;
}

.inscription-links {
    display: flex;
    flex-direction: column;
}

.inscription-links a {
    margin: 15px 0;
    position: relative
}

.container-why .button-cta {
    padding: 0;
    background: none;
    border: 0;
    color: inherit;
    margin-top: 0;
}


.password {
    height: 42px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 1px solid #69696969;
    margin-top: 10px;
}

div .password--visibleToggle {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 6px;
    top: -1px;
    z-index: 2;
    appearance: none;
    outline: none;
    min-width: 40px;
}

.password--visibleToggle-eye {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 17px;
    top: 7px;
    perspective: 1000px;
    overflow: hidden;
}

.password--visibleToggle-eye.close {
    transition: 0.4s all ease-in-out;
    z-index: 1;
}

.password--visibleToggle-eye.open {
    transition: 0.2s 0.2s all ease-out;
    z-index: 1;
}

.password--visibleToggle-eye img {
    width: 100%;
}

.password--lock {
    width: 20px;
    height: 20px;
    fill: #111;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.password--input {
    width: 95%;
    font-size: 1em;
    transition: all 0.5s;
    position: absolute;
    outline: none;
    -webkit-text-security: none;
    padding: 10px;
    top: 0;
    left: 0;
    border: 0;
}

.password--visibleToggle:checked ~ .password--background {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    right: 12.5px;
    top: 7.5px;
}

.password--visibleToggle:checked ~ .password--input {
    -webkit-text-security: circle;

}

.password--visibleToggle:checked ~ .password--visibleToggle-eye.close {
    transform: rotateX(180deg);
}

.password--visibleToggle:checked ~ .password--visibleToggle-eye.open {
    opacity: 0;
}

.inscription-links a:first-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    background: var(--blueLight);
    bottom: -15px;
    border-radius: 5px;
}

form .form-group .email-label {
    margin-bottom: 0;
}

.container-form-email {
    display: flex;
    position: relative;
    flex-direction: column;
}

.list-password-required li, .formSearchAd {
    position: relative;
}

.list-password-required img {
    opacity: 1;
    display: none;
    margin-right: 10px;
    max-width: 20px;
    transition: 2s;
}

.list-password-required p, .list-advantages p {
    margin: 0;
    color: black
}

.list-password-required span, .list-advantages span {
    color: var(--blue)
}

.list-password-required li {
    margin: -3px 0
}

.list-password-required {
    margin: 7px 0 15px;
}

.container-svg, .svg-icon {
    width: 100%;
}

.svg-icon {
    max-height: 400px;
    max-width: 400px;
}

.form-register .container-error {
    margin: 0 0 10px;
}

.container-why div {
    width: 50%
}

.container-svg {
    display: flex;
    justify-content: flex-end;
}

.container-inscriptin-logins {
    margin-top: 100px;
    position: relative;
}

.preview-picture {
    display: none;
}

.container-inscriptin-logins:before {
    background: var(--blue);
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    left: 50%;
    margin-left: -14%;
    top: -50px;
}

.container-role {
    box-shadow: var(--shadow);
    padding: 20px;
    position: relative;
    min-height: 300px;
}

.container-form-register {
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative
}

.preview-picture {
    width: 100px;
    align-self: flex-end;
    height: auto;
    border-radius: 7px;
}

.title-first-step-register {
    max-width: 400px;
    margin: auto auto 20px;

}

.title-first-step-register h2 {
    margin-bottom: 10px;
}

.container-img-register img {
    width: 100%;
    max-width: 230px;
    max-height: 120px;
    margin-bottom: 10px;
}

.container-img-register h3 {
    margin: 15px 0 7px;
}

.container-img-register {
    display: flex;
    justify-content: center;
}

.list-advantages {
    display: none;
    margin-bottom: 80px;
}

.show {
    display: inherit;
    line-height: 1.5;
    margin-top: 10px;
}

.button-back:after {
    background-image: url(../svg/arrow-left.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    content: "";
}

.button-back {
    position: relative
}

.button-back:hover {
    padding: 10px 15px 10px 30px;
}

.link-back {
    position: absolute;
    top: -10px;
}

.avatar-container label {
    align-self: flex-end;
}

.avatar-container {
    display: flex;
    justify-content: space-between;
}

.advantage-btn {
    background: transparent;
    border-radius: 15px;
    color: var(--blueLight);
    margin-top: 15px;
    border: 2px solid var(--blueLight);
    font-size: .8em;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

.advantage-btn:hover, .container-filters button:hover {
    padding: 7px 10px 23px;
}

.advantage-btn:after, .container-filters button:after {
    opacity: 0;
    top: inherit;
    left: 50%;
    margin-left: -10px;
    transition: .5s;
    right: inherit;
    bottom: 10px
}

.advantage-btn:hover:after {
    background-image: url(../svg/arrow-b-color.svg);
    background-size: 80%;
    display: block;
    top: inherit;
    left: 50%;
    margin-left: -10px;
    content: "";
    bottom: 4px;
    opacity: 1;
}

.containerLove img {
    max-width: 29px;
    width: 100%;
}

.containerLove:hover .heart {
    display: none;
}

.heartFul {
    display: none;
}

.containerLove:hover .heartFul {
    display: inherit;
    cursor: pointer;
}

.container-filters button:after {
    background-image: url(../svg/arrow-b-white.svg);
}

.container-filters button:hover:after {
    background-size: 80%;
    display: block;
    top: inherit;
    left: 50%;
    margin-left: -10px;
    content: "";
    bottom: 4px;
    opacity: 1;
}

.list-advantages-hide:hover:after {
    background-image: url(../svg/arrow-t-color.svg);
}

.container-role h4, .container-role h3 {
    display: flex;
    justify-content: center;
}

.container-button-register {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.form-register .container-register-form:nth-child(7), .container-textarea {
    grid-template-columns: repeat(1, minmax(270px, 1fr));
}

.select-register {
    padding: 9px 5px 9px 5px;
    min-width: 200px;
    font-size: 1em;
    background: white;
    border: 1px solid #69696969;
    border-radius: 4px;
    margin: 10px 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 44px;
    transition: .3s;
}

.select-register:hover {
    height: 100px;
}

.form-login .input-field {
    padding: 9px 5px;
}

.container-policy {
    box-shadow: var(--shadow);
    padding: 20px 10px;
    max-width: 1000px;
    margin: 15px auto 50px;
}

.container-policy li {
    color: var(--grey);
}

.container-policy section {
    margin: 35px 0 50px;
}

.container-policy section:last-child {
    margin-bottom: 0;
}

.container-policy section:first-child {
    margin-top: 0;
}

.container-policy h3 {
    margin-bottom: 10px;
}

.container-policy ul {
    line-height: 1.6;
}

.container-policy p {
    margin: 15px 0;
    max-width: inherit;
}

.box-about {
    box-shadow: none;
    padding: 40px 0;
}

.box-about:hover:after {
    display: none;
}

.box-about h3 {
    margin-bottom: 15px;
}

.container-home-text a {
    color: var(--blueLight);
    text-decoration: underline;
}

.container-about-why {
    max-width: 500px;
    margin: auto;
}

.container-about-why div:first-child {
    max-width: 100%;
    padding-top: 30px;
}

.container-message p {
    margin-bottom: 20px;
    margin-top: 5px;
}

.container-svg img {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

.logo:hover a {
    padding: 0 5px 8px
}

form .search-announcement {
    width: 100%;
    max-width: inherit;
}

.submit-ad {
    position: absolute;
    text-indent: 0;
    background-position: 7px;
    background-size: 20%;
    padding-left: 45px;
    color: white;
    right: -40px;
    padding-right: 15px;
    top: 2px;
}

.container-announcement {
    box-shadow: var(--shadow);
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;

    justify-content: space-between;
}
.container-image-announcement img {
    max-width: 200px;
    border-radius: 5px;
    max-height: 200px;
}
.container-all-announcement {
    grid-gap: 30px;
    margin-right: 20px;
    border-radius: 5px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
}

.button-personnal-announcement {
    background: var(--gradientLightBlue);
    width: 100%;
    display: block;
    position: relative;
    height: 40px;
    border-radius: 0 0 5px 5px;
}

.container-info-announcement {
    display: flex;
    align-items: center;
}

.container-info-announcement img {
    width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.button-more-text {
    display: block;
    width: 100%;
    height: 40px;
    background: var(--gradientLightBlue);
    border-radius: 5px;
    border: 1px solid var(--gradientLightBlue);
    position: relative;
}

.container-announcement-create .select-register:hover {
    height: 44px;
}

.button-more-text:after {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    background-size: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../svg/more.svg);
    opacity: 1;
    padding: 0;
    top: 0;
    position: inherit;
    left: 50%;
    right: 0;
    margin-left: -15px;
}

.button-more-text:hover {
    padding: inherit;
    height: 40px;
}

.button-more-text:hover:after {
    right: 0;
    top: 0;
}

.container-infos-announcement {
    padding: 50px 15px 20px;
}

.paragraph-ann {
    margin: 10px 0 15px;
}

.container-search {
    margin: 50px 0;
}

.container-infos {
    display: grid;
    grid-gap: 15px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.button-personnal-announcement:after {
    content: "";
    display: block;
    width: 30px;
    height: 40px;
    background-size: 40%;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../svg/arrow-right.svg");
}

.button-personnal-announcement:hover:after {
    -webkit-animation: downarrow 1s infinite;
    animation: downarrow 1s infinite
}

.container-image-announcement {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.containerPrice {
    box-shadow: var(--shadow);
    padding: 8px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -23px;
    right: 15px;
    background: white;
}

.containerPrice img {
    margin-right: 10px;
}

.paragraph-ann {
    word-break: break-all;
}

.container-filters {
    width: 30%;
    padding-left: 15px;
    border-left: 4px solid var(--blueLight);
    border-radius: 3px;
}

.container-announcements {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
}

.container-filter-categories h3 {
    position: sticky;
    top: -10px;
    left: 0;
    background: white;
    z-index: 1;
    padding: 15px 10px 13px 10px;
    margin: -30px -10px -10px;
}

.container-filter-categories {
    max-height: 150px;
    box-shadow: var(--shadow);
    padding: 10px;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    overflow-y: scroll;
}

.list-categories {
    margin-top: 33px;
    color: var(--grey);
    line-height: 1.8;
}

.list-categories li{
    margin: 10px 0;
}


.cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    min-width: 17px;
    min-height: 17px;
    border-radius: 5px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid var(--blueLight);
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 3px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--blueLight);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.cbx span:last-child {
    margin-left: 8px;
}

.cbx:hover span:first-child {
    border-color: var(--blueLight);
}

.inp-cbx:checked + .cbx span:first-child {
    border-color: var(--blueLight);
    background: var(--blueLight);
    animation: check 0.6s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

.inp-cbx:checked + .cbx span:last-child {
    color: #B9B8C3;
    transition: all 0.3s ease;
}

.inp-cbx:checked + .cbx span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
}

.container-filters button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: var(--gradientLightBlue);
    border: none;
    border-radius: 5px;
    color: white;
    position: relative;
    font-size: 1em;
    transition: .5s;
}

.container-filters form {
    position: sticky;
    top: 100px;
}

.containerLove {
    right: inherit;
}

.help {
    font-size: .8em;
    margin-top: -20px;
    margin-bottom: 10px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--blue);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.container-positive-response {
    margin-top: 10px;
    margin-bottom: 5px;
}
.container-links-pagination a:nth-child(5), .container-links-pagination a:nth-child(4){
    display: none;
}
.container-create-ads {
    flex-direction: column;
    margin-top: 0;
}

.container-create-ads-infos {
    width: 100%;
    grid-template-columns: inherit;
}

.container-plan {
    box-shadow: var(--shadow);
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}

.container-plan-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-plans {
    display: flex;
    margin-top: 70px;
}

.container-plan button:after {
    display: none;
}

.container-plan button {
    position: relative;
    box-sizing: border-box;
    background: white;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 1em;
    padding: 13px 15px;
    font-size: 1em;
    transition: .3s;
}

.container-plan button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: var(--gradientDarkBlue);
}

.container-plan button:hover {
    background: var(--gradientDarkBlue);
    color: white;
}

.container-plans section:nth-child(2) button {
    background: var(--gradientDarkBlue);
    color: white;
}

.container-plans section:nth-child(2) button:hover {
    border: 2px solid var(--blue);
    background: white;
    color: var(--blue);
}

.container-plan li {
    align-items: center;
    display: flex;
    margin: 15px 0;
}

.container-plan img {
    margin-right: 10px;
}

.reductionPrice:before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    position: absolute;
    background: red;
    bottom: 17px;
    left: -5px;
    border-radius: 10px;
}

.reductionPrice {
    position: relative;
    font-size: 1.1em;
}

.planPrice {
    font-size: 2em;
    margin: 10px 0 15px;
}

.container-plans h3 {
    font-size: 1.8em;
    padding-top: 10px;
}

.container-plan-price p {
    font-size: 1.5em;
}

.container-plans section {
    padding: 15px 20px 30px;
}

.container-plans section:nth-child(2):after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    background-size: 100%;
    right: -60px;
    left: inherit;
    top: -60px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../svg/hot.svg");
}

.container-plans section:nth-child(2) {
    position: relative;
    margin: -40px -30px;
    padding: 15px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-plans section:nth-child(2) h3 {
    font-size: 2.5em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.title-first-step-register h2 {
    text-align: center;
}

.container-plan form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hepling span {
    display: none;
}

.hepling {
    position: relative;
    cursor: help;
}

.hepling:hover span {
    display: block;
    position: absolute;
    top: -5px;
    left: 50px;
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 5px;
    background: white;
}
.profil-item{
    background-image: url("../svg/user-w.svg");
}
.successMsg img{
    margin-right: 10px;
}
.successMsg p{
    margin-right: 20px;
}
.successMsg{
    position: fixed;
    bottom: 20px;
    display: flex;
    align-items: center;
    left: 4em;
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    z-index: 1;
    background: white;
}
.pagination{
    display: flex;
    box-shadow: var(--shadow);
    justify-content: center;
    padding: 10px;
    font-size: 1.2em;
    align-items: center;
    border-radius: 5px;
}
.pagination div:nth-child(1),.pagination div:nth-child(3){
    min-width: 30px;
    color: var(--blueLight);
}

.pagination div a svg:nth-child(1),.pagination div a svg:nth-child(3){
    color: var(--blueLight);
}
.container-links-pagination span,.container-links-pagination a{
    margin: 0 5px;
    padding: 0 5px 2px;
}
.container-links-pagination{
    display:flex;
}
.current_page_item-nav span{
    border-bottom: 2px solid var(--blueLight);
    margin: 0;
    display: inline-block;
}
div .current_page_item-nav{
    margin: 0;
    margin-bottom: -5px;
}
div .last-item-pagination{
    margin-right: 10px;
}
.crossHide{
    color: red;
    top: 10px;
    font-size: 1.5em;
    cursor:pointer;
    position: absolute;
    right: 15px;
}


.profil-item{
    position: relative;
}
.profil-item .profil-user{
    text-indent: -9999px;
}
.profil-item .profil-user:before{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../svg/user-w.svg");
    display: block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-position: center;
}
