@import "reset.css";
@import "font.css";
@import "global.css";
@import "responsive.css";

div small {
    color: #57565F;
}

.nav-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2%;
    box-shadow: var(--shadow);
}

.navbar {
    z-index: 1;
}

.container-list-menu-principal li, .container-picto-dashboard {
    position: relative;
}

.container-picto-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 120px);
}

.container-picto-dashboard .button-dashboard-notifications {
    display: flex;
    justify-content: center;
}

.container-list-menu-principal li a {
    text-indent: -9999px;
}

.container-dashboard h2:before, .container-dashboard-notif h3:before {
    content: "";
}

.iconeDashboard, .container-dashboard h2:before, .container-dashboard-notif h3:before, .container-dashboard-messenger h3:before, .container-dashboard-ads h3:before {
    background-image: url("../svg/business-report.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 45px;
    height: 45px;
}

.container-profil h2:before {
    background-image: url("../svg/user.svg");
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: center;
}

.container-menu-pincipal li:nth-child(2) a, .container-dashboard-notif h3:before {
    background-image: url("../svg/notif.svg");
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: center;
}

.container-menu-pincipal li:nth-child(3) a, .container-dashboard-messenger h3:before {
    background-image: url("../svg/messenger.svg");
    background-size: 79%;
    background-repeat: no-repeat;
    background-position: center;
}

.container-menu-pincipal li:nth-child(4) a, .container-dashboard-ads h3:before {
    background-image: url("../svg/ad.svg");
    background-size: 93%;
    background-repeat: no-repeat;
    background-position: center;

}

.container-menu-pincipal li:nth-child(5) a {
    background-image: url("../svg/user.svg");
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: center;

}

.container-list-menu ul:nth-child(2) li a {
    background-image: url("../svg/sign-out.svg");
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: center;
}

.container-menu-pincipal {
    margin-top: 10px;
}

.container-nav-principal {
    box-shadow: var(--shadow);
    display: inline-block;
    padding: 0 7px;
}

.container-list-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main nav, main nav .container-nav-principal, .full-height {
    height: 100%;
    z-index: 1;
}

.copyright {
    background: white;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 78px;
    font-size: .8em;
}

.container-menu-pincipal li {
    margin: 7px 5px;
}

.container-dashboard h2, .container-dashboard-notif h3 {
    display: flex;
    grid-gap: 10px;
    padding: 20px 2%;
    background: var(--blueClair);
    align-items: center;
}

.container-dashboard-notif h3 {
    background: inherit;
    padding: 20px 0 0;
}

.container-all-dashboard {
    display: flex;
    height: 100%;
}

.container-dashboard {
    width: 100%;
}

.button-cta {
    padding: 10px 15px;
    background: var(--gradientLightBlue);
    border: 0;
    border-radius: 15px;
    color: white;
    margin-top: 15px;
    font-size: 1em;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

.button-cta:after {
    content: "";
    background-position: center;
    background-image: url(../svg/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    right: -20px;
    top: 12px;
    transition: 0.5s;
}

.button-cta:hover {
    padding: 10px 30px 10px 15px;
}

.button-cta:hover:after {
    opacity: 1;
    right: 5px;
    top: 12px;
}

.container-sections-dashboard {
    padding: 0 2%;
    height: calc(100% - 85px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-gap: 30px;
}

.container-sections-dashboard section:nth-child(2):before {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    content: "";
    background: var(--blue);
    left: -15px;
}

.container-sections-dashboard section:nth-child(2):after {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    content: "";
    background: var(--blue);
    right: -15px;
}

.messages-container {
    margin-top: 30px;
}

.container-picto-dashboard .container-messages {
    margin-top: -15px;
}

.dateAds {
    font-size: .9em;
}

.container-dashboard-notif {
    position: relative;
}

.container-menu-pincipal li a {
    opacity: 1;
}

.menuDashboard {
    display: none;
}

li .container-menu-pincipal a:hover:before {
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    background: var(--blueLight);
    left: -14px;
    display: block;
}

.current_page_item_dashboard {
    position: relative;
}

.current_page_item_dashboard:before {
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    background: var(--blueLight);
    left: -14px;
    display: block;
}

.successMsg img {
    margin-right: 10px;
    max-width: 50px;
}

.successMsg p {
    margin-right: 20px;
    margin-bottom: 0;
}

.crossHide {
    color: red;
    top: 10px;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.successMsg {
    position: fixed;
    font-family: roboto, sans-serif;
    bottom: 20px;
    display: flex;
    align-items: center;
    right: 6.8%;
    margin-left: 7%;
    max-width: 300px;
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    z-index: 5;
    background: white;
}

.deconnexionButtonDashboard {
    text-indent: -9999px;
    border: 0;
    background: no-repeat center/100% url(../svg/sign-out.svg);
}

.container-logout-dash {
    display: none;
}

.container-list-menu-principal li form .deconnexionButtonDashboard {
    background-size: 76%;
    padding: 0;
}














.container-register-form, .form-choice {
    display: grid;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    grid-gap: 30px;
    margin-bottom: 25px;
    align-items: end;
}

.form-register .container-register-form:nth-child(8), .container-textarea {
    grid-template-columns: repeat(1, minmax(270px, 1fr));
}

.form-login .input-field {
    padding: 9px 5px;
}

div .form-login {
    display: block
}

div .container-form-email .inputPhone {
    margin-top: 5px;
}

.container-form-email {
    display: flex;
    position: relative;
    flex-direction: column;
}

.form-login .email-label {
    padding: 11px 10px 11px 5px;
    min-width: 200px;
    font-size: 1em;
    border: 1px solid #69696969;
    border-radius: 4px;
    margin: 7px 0 20px;
}

.form-register .container-error {
    margin: -20px 0 10px;
}

.container-form-register {
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative
}

.form-register .container-register-form:nth-child(8), .container-textarea {
    grid-template-columns: repeat(1, minmax(270px, 1fr));
}

.container-form-register div .form-login .container-inscriptin-logins {
    margin-top: 100px;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.container-register {
    align-items: baseline;
}

.container-form-email {
    display: flex;
    position: relative;
    flex-direction: column;
}

div .container-form-email .inputPhone {
    margin-top: 5px;
}

.avatar-container label {
    align-self: flex-end;
}

.avatar-container {
    display: flex;
    justify-content: space-between;
}

form p {
    max-width: inherit;
}

.password {
    height: 42px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 1px solid #69696969;
    margin-top: 10px;
}

div .password--visibleToggle {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 6px;
    top: -1px;
    z-index: 2;
    appearance: none;
    outline: none;
    min-width: 40px;
}

.password--visibleToggle-eye {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 17px;
    top: 7px;
    perspective: 1000px;
    overflow: hidden;
}

.password--visibleToggle-eye.close {
    transition: 0.4s all ease-in-out;
    z-index: 1;
}

.password--visibleToggle-eye.open {
    transition: 0.2s 0.2s all ease-out;
    z-index: 1;
}

.password--visibleToggle-eye img {
    width: 100%;
}

.password--lock {
    width: 20px;
    height: 20px;
    fill: #111;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.password--input {
    width: 95%;
    font-size: 1em;
    transition: all 0.5s;
    position: absolute;
    outline: none;
    padding: 10px;
    top: 0;
    left: 0;
    border: 0;
}

.password--visibleToggle:checked ~ .password--background {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    right: 12.5px;
    top: 7.5px;
}


.password--visibleToggle:checked ~ .password--visibleToggle-eye.close {
    transform: rotateX(180deg);
}

.password--visibleToggle:checked ~ .password--visibleToggle-eye.open {
    opacity: 0;
}
.list-password-required li, .formSearchAd {
    position: relative;
}

.list-password-required img {
    opacity: 1;
    display: none;
    margin-right: 10px;
    max-width: 20px;
    transition: 2s;
}

.list-password-required p, .list-advantages p {
    margin: 0;
    color: black
}

.list-password-required span, .list-advantages span {
    color: var(--blue)
}

.list-password-required li {
    margin: -3px 0
}

.list-password-required {
    margin: 7px 0 15px;
}
.preview-picture {
    display: none;
}
.preview-picture {
    width: 100px;
    align-self: flex-end;
    height: auto;
    border-radius: 7px;
}
.container-profil-dashboard{
    padding: 3%;
}
.preview-picture-old{
    max-width: 100px;
}
.btn-add-phone{
    background: var(--gradientDarkBlue);
    border: 0;
    border-radius: 5px;
    max-width: 50px;
    padding: 10px;
    position: relative;
    margin-top: -10px;
    text-indent: -9999px;
}
.btn-add-phone:before{
    content: "";
    background-position: center;
    background-image: url(../svg/plusicon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 50%;
    margin-right: -10px;
    top: 9px;
    transition: 0.5s;
}
.container-button{
    position: absolute;
    right: 10px;
    top: 47%;
}
div .btn-remove-phone {
    padding: 10px;
    width: 50px;
}
div .btn-remove-phone:before{
    background-image: url(../svg/plus.svg);
}
.form-edit-preview div .email-label{
    border: 0;
    border-bottom: 2px solid var(--blue);
    border-radius: 0;
}
.avatar-profil img{
    max-width: 200px;
    align-self: center;
    width: 100%;
    max-height: 150px;
}
.button-draft{
    background: white;
    border: 1px solid var(--blueLight);
    color: var(--blueLight);
}
.button-draft:hover{
    background: var(--gradientLightBlue);
    border: 0;
    color: white;
}
.button-back:after {
    background-image: url(../svg/arrow-left.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    content: "";
}
.button-back:hover {
    padding: 10px 15px 10px 30px;
}
.container-link-to-back{
    margin-bottom: 20px;
}
.expire-plan{
    opacity: .25;
    cursor: not-allowed;
}
.button-expire{
    width: 100%;
    padding: 20px 0;
    font-size: 2em;
}
.container-button-expire{
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}
.button-expire:hover {
    padding: 20px 30px 20px 15px;
}
.button-expire:hover:after{
    right: 10px;
    top: 21px;
    background-size: 50%;
    width: 30px;
    height: 30px;
}
